{% extends "layout.html" %}

{% block title %}
{% endblock %}

{% block main %}
     <div class="jumbotron jumbotron-fluid bg-linear-blackgrey">
    <div class="container-fluid p-5 text-center">
      <div class="row justify-content-center">
      <h1 class="display-1 text-blue">Watch Read Repeat</h1>
    </div>
    <div class="row justify-content-center">
      <p class="lead text-grey">Keep track of movies, tv shows and books you have watched and read, all in one place!</p>
    </div>
    </div>
    </div>

    <div class="conatainer-fluid text-center">
    <div class="row justify-content-center m-auto">
      <i class="fas fa-tv logo-icons text-blue p-5 img-fluid"></i><i class="fas fa-book-open logo-icons text-blue p-5 img-fluid"></i><i class="fas fa-redo logo-icons text-blue p-5 img-fluid"></i>
    </div>
  </div>

{% endblock %}
